<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body onload="onLoad()" id="body" class="no-scroll">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-lg-7 posts-container" id= "post">
            <button onclick="showSplashScreen()">Show Splash Csreen</button>
          <!-- single post start -->
          <div class="card my-3">
            <!-- image block start -->
            <div>
              <img class="d-block w-100 image-1" src="http://placekitten.com/500/500" alt="Post image" id="image123">
            </div>
            <!-- image block end -->
            <div class="px-4 py-3" id="post123">
              
              <!-- post reactions block start -->
              <div class="d-flex justify-content-around">
                <span class="h1 mx-2 muted" >
                  <i class="far fa-heart" id="like123"></i>
                </span>
                <span class="h1 mx-2 muted">
                  <i class="far fa-comment" id="comment123"></i>
                </span>
                <span class="mx-auto"></span>
                <span class="h1 mx-2 muted" id="save123">
                  <i class="far fa-bookmark"></i>
                </span>
              </div>
              <!-- post reactions block end -->
              <hr>
              <!-- post section start -->
              <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum ad est cumque nulla voluptatem enim voluptas minima illum quis! Voluptatibus dolorem minus tempore aliquid corrupti nesciunt, obcaecati fuga natus officiis.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum ad est cumque nulla voluptatem enim voluptas minima illum quis! Voluptatibus dolorem minus tempore aliquid corrupti nesciunt, obcaecati fuga natus officiis.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum ad est cumque nulla voluptatem enim voluptas minima illum quis! Voluptatibus dolorem minus tempore aliquid corrupti nesciunt, obcaecati fuga natus officiis.</p>
              </div>
              <!-- post section end -->
              <hr>
              <!-- comments section start -->
              <div id = "commentArea123" class="comment-container">
                <div class="py-2 pl-3 " id="comment2342">
                  <a href="#" class="muted">someusername</a>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum ad est cumque nulla voluptatem enim voluptas minima illum quis! Voluptatibus dolorem minus tempore aliquid corrupti nesciunt, obcaecati fuga natus officiis.</p>
                </div>
                <div class="py-2 pl-3"id="comment3252">
                  <a href="#" class="muted">someusername</a>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum ad est cumque nulla voluptatem enim voluptas minima illum quis! Voluptatibus dolorem minus tempore aliquid corrupti nesciunt, obcaecati fuga natus officiis.</p>
                </div>
              </div>
                <div class="commentForm" id="commentForm123">
                    <h2>Add Comment</h2>
                    <form id="commentForm123">
                        <input type="hidden" id="postId123" value="123">
                        <textarea cols="50"  rows="3" id="newComment123" class="text-area"></textarea>
                        <button id="commentButton" >Confirm</button>
                        <button onclick="f123()" >Add Comment</button>
                    </form>
                </div>
              <!-- comments section end -->
            </div>
          </div>
          <!-- single post end -->
        </div>
      </div>
    </div>
    <div class="new_post justify-content-center">
      <h2>Create new post</h2>
      <form enctype="multipart/form-data" method="post" id="myForm" action="/user/saveImage">
        <input type="file" id="image">
          <button id="btnSubmit" >Confirm</button>
       </form>
    </div>

    <button onclick="f()">Add Posts</button>
    <!-- Splash screen -->
    <section id="page-splash" class="page-splash">
      <div class="card" id="registration-form">
        <div class="card-body">
          <h3 class="h3">Зарегистрируйтесь</h3>
          <button onclick="document.location.href='http://localhost:4949/login'">Login</button>
            <button onclick="document.location.href='http://localhost:4949/registration'">Registration</button>
        </div>
      </div>
    </section>
  </body>
</html>
<script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous">

</script>
<script src="/js/script.js"></script>
